
                                /* shehzad css goes here  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container .about-us-cnt{
    margin: 30px 10px;
}
.container .about-us-cnt h2{
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.container .about-us-cnt p{
    margin-bottom: 5px;
}
.container .meet-team {
    margin-left: 10px;
    /* display: flex; */
}
.container .meet-team h2{
    font-size: 2em;
    margin-top: 40px;
    letter-spacing: 1px;
}
.container .meet-team .flex-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.container .meet-team .flex-div .card{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px;
    box-shadow: -3px -1px 15px 1px  var(--dark);
    overflow: hidden;
}
.container .meet-team .flex-div .card img{
    position: relative;
    width: 100%;
    height: 100%;
}
.container .meet-team .flex-div .card .prson-desc{
    transition: .5s;
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    backdrop-filter: blur(5px);
}
.container .meet-team .flex-div .card:hover .prson-desc{
    position: absolute;
    top: 0;
    left: 0;
}
.container .meet-team .flex-div .card .prson-desc h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 20px;
    margin-top: 40px;
}
.container .meet-team .flex-div .card .prson-desc h4{
    font-size: 1em;
    font-weight: 400;
}