*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fee648;
    align-items: center;
    padding: 40px;

    /* position: relative;
    display: flex;
    background: #fee648;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh; */
}
section .container{
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,.1);
}
section .container .user{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
section .container .user .image-box
{
    position: relative;
    width: 50%;
    height: 100%;
    background: linear-gradient(#6c06af,#031a68);

}
section .container .user .image-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
section .container .user .image-box .textOver{
    position: absolute;
    top: 0;
    color: #fff;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
section .container .user .image-box .textOver h1{
    font-size: 2em;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: 700;
}
section .container .user .image-box .textOver h3{
    font-size: 1.2em;
    
}
section .container .user .form-box
{
    position: relative;
    width: 50%;
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
section .container .user .form-box form h2{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}
section .container .user .form-box form input
{
    position: relative;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
section .container .user .form-box form input[type="submit"]
{
    max-width: 100px;
    margin-left: 30%;
    background: linear-gradient(#500483,#050f75);
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 1px;
}
section .container .user .form-box form input[type="submit"]:hover{
    background: linear-gradient(#630c9c,#041092);
}
section .container .user .form-box form .signup
{
    position: relative;
    margin-top: 20px;
    letter-spacing: 1px;
    color: #555;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}
section .container .user .form-box form .signup a{
    font-weight: 600;
    text-decoration: none;
    color: #500483;
}

@media (max-width: 990px)
{
    section .container
    {
        max-width: 400px;
        
    }
    section .container .image-box
    {
        display: none;

    }
    section .container .user .form-box
    {
        width: 100%;
    }
}